* {
    font-family: 'Roboto', sans-serif;
    outline:none;
    font-weight: 700;  
    color:white;
}
body{
    background:#ff75a0;
}


.app-content{
    width: 100%;
    height: 100%;
    display:grid;
    place-items: center;
}


.app-header{
    

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.app-input{
    padding: 5px 10px;
    width: 100%;
    height: 30px;
    margin:10px 0px;
    z-index: 999;
    color: #ff75a0;
    border:none;
}

.button-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-operation{
    height:30px;
    width:30px;
   background:white;
   border:none;
   color:#ff75a0;
}

.clear{
    width: fit-content;
}